.banner-box{
    width: 100%;
}
.banner-box img{
    width: 100%;
}


.slogan-box{
    background: #f2f2f2;
    margin-top: -5px;
    padding: 30px 0;
}
.slogan-box >div {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.slogan-box h3{
    color: #19529b;
    font-size: 24px;
    margin-bottom: 5px;
}
.slogan-box p{
    font-size: 18px;
}
.slogan-box ul li{
    list-style: none;
    font-size: 14px;
    font-weight: bold;
    color: #3e9a5c;
    text-align: right;
    margin-bottom: 5px;
}
.slogan-box ul li:first-child{
    color: #19529b;
    font-weight: bold;
}

.products-box{
    background: url(../images/shading.jpg);
}
.ckcb-title{
    margin: 70px 0;
}
.ckcb-title >img{
    width: 100%;
}
.products-nav{
    width: 100%;
    height: 45px;
    background: #eeeeee;
    border-radius: 10px;
    position: relative;
    margin-bottom: 10px;
}
.products-nav > span{
    display: inline-block;
    height: 45px;
    width: 120px;
    background: #19529b;
    font-size: 16px;
    font-weight: bolder;
    color: #fff;
    text-align: center;
    line-height: 45px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}
.products-nav > span >i{
    color: #3b9461;
    margin: 0 5px;
}
.products-nav ul{
    display: inline-block;
}
.products-nav ul >li{
    list-style: none;
    display: inline-block;
    padding: 0 30px;
}
.products-nav ul >li >a{
    color: #4c4c4c;
    font-size: 14px;
    /* transition: all .5s ease; */
}
.products-nav ul >li >a:hover{
    color: #3e9a5c;
    font-weight: bold;
}
.more{
    color: #4c4c4c;
    font-size: 16px;
    position: absolute;
    right: 10px;
    top: 10px;
}


.cp-list{
    margin: 50px 0;
}
.cp-list .swiper-slide{
    box-sizing: border-box;
    width: 240px;
    height: 380px;
    border-radius: 20px;
    background: #eee;
    text-align: center;
    padding:25px 0 ;
}
.cp-shadow{
    box-shadow: 3px 3px 3px #eee !important;
    background: #fff !important;
}
.cp-list .swiper-slide >h3{
    margin: 10px 0;
    color: #333;
}
.cp-list .swiper-slide >  p{
    color: #666666;
}
.cp-list .swiper-slide img{
    margin: 20px auto;
    width: 191px;
    height: 176px;
}
.cp-list .swiper-slide > a{
    /* display: block; */
    background: #3e9a5c;
    color: #fff;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
    border-radius: 20px;
    font-size: 14px;
    display: none;
}

.ckcb-dq{
    padding-bottom: 80px;
    background: url(../images/shading.jpg);
}
.ckcb-dq-ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.ckcb-dq-ul>li{
    box-sizing: border-box;
    width: 50%;
    height: 205px;
    /* border: 1px solid #424242; */
    list-style: none;
    padding: 35px 110px;
}
.ckcb-dq-ul>li:nth-child(1){
    border-bottom: 1px solid #e3e3e3;
}
.ckcb-dq-ul>li:nth-child(2){
    border-left: 1px solid #e3e3e3;
}
.ckcb-dq-ul>li:nth-child(3){
    border-right: 1px solid #e3e3e3;
}
.ckcb-dq-ul>li:nth-child(4){
    border-top: 1px solid #e3e3e3;
}
.ckcb-dq-ul>li i{
    border-radius: 50%;
    border: 1px solid #e3e3e3;
    font-size: 65px;
    display: inline-block;
    padding: 20px;
    margin-right: 35px;
    color: #b3b3b3;
}
.ckcb-dq-ul>li div{
    width: 220px;
    display: inline-block;

}
.ckcb-dq-ul>li div > h3{
    display: inline-block;
    padding: 5px 0;
    border-bottom: 2px solid #e3e3e3;
    margin-bottom: 15px;
    color: #333;
}
.ckcb-dq-ul>li div > p{
    color: #333;
    font-size: 14px;
}
.ckcb-dq-ul>li div,.ckcb-dq-ul>li i{
    vertical-align: middle;
}
.ckkb-active >i{
    border: 1px solid #3e9a5c;
    color:#fff !important;
    background: #3e9a5c;
    transition: all .3s ease;

}
.ckkb-active h3{
    border-bottom: 2px solid #3e9a5c !important;
}

.about-box{
    height: 700px;
    background: url(../images/lanbai.jpg) no-repeat center;
    /* margin: 80px 0; */
    box-sizing: border-box;
    padding: 135px 0;
}
.about-box > .ins-box{
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items:center

}
.about-box > .ins-box > .about-us{
    width: 40%;
    height: 410px;
    padding-right: 20px;
    box-sizing: border-box;

}
.about-box > .ins-box > .about-us > img{
    width: 431px;
    height: 65px;
}
.about-box > .ins-box > .about-us > p{
    margin: 45px 0;
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 22px;
}
.about-box > .ins-box  .about-us >ul{
    list-style: none;
}
.about-box > .ins-box  .about-us  >ul li{
    display: inline-block;
    width: 90px;
    height: 30px;
    margin-right: 5px;
    border-radius: 20px;
    line-height: 30px;
    text-align: center;
    
}
.about-box > .ins-box  .about-us  >ul li>a{
    color: #fff;
    font-size: 14px;
}
.about-box > .ins-box  .about-us  >ul li:first-child{
    background: #3e9a5c;
}
.about-box > .ins-box  .about-us  >ul li:last-child{
    background: #e9ad0c;

}
.about-box > .ins-box > .video-box{
    width: 60%;
    height: 430px;
    /* background: #fff; */
    /* padding: 8px; */
    box-sizing: content-box;
    /* vertical-align: middle; */
}
.about-box > .ins-box > .video-box img{
    border:10px solid #fff;
    width: 97%;
    height: 95%;
}

.case-box{
    background: url(../images/shading.jpg);
}
.case-tab >ul{
    margin-bottom: 60px;
}
.case-tab >ul >li{
    display: inline-block;
    padding: 5px 13px;
    background: #e5e5e5;
    color: #999999;
    font-size: 14px;
    border-radius: 15px;
    margin-right: 5px;
    margin-bottom: 30px;
}
.case-tab >ul >li a{
    color: #999;
}
.case-active{
    background: #3e9a5c !important;
}
.case-active a{
    color: #fff !important;
}
.case-item{
    height: 580px;
    margin-bottom: 80px;
}
.case-item >.item-box{
    display: none;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
}
.case-show{
    display: flex !important;
}
.case-item > .item-box{
    display: none;
}
/*.case-item > .item-box:first-child{*/
/*    display: flex !important;*/
/*}*/
.case-item > .item-box >div:first-child{
    width: 285px;
    height: 500px;
    background: #1555a4;
    color: #fff;
    padding: 40px 25px 0;
    box-sizing: border-box;
    position: relative;
}
.case-item > .item-box >div:first-child>h2{
    font-size: 22px;
}
.case-item > .item-box >div:first-child>p{
    font-size: 12px;

}
.case-item > .item-box >div:first-child>p:nth-child(2){
    opacity: .5;
    margin: 8px 0 50px;

}
.case-item > .item-box >div:first-child>p:nth-child(3){
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 22px;
}
.case-item > .item-box >div:first-child>a{
    color:#fff;
    padding: 5px 20px;
    background: #3e9a5c;
    border-radius: 15px;
    font-size: 14px;
    position: absolute;
    bottom: 30px;
    right: 20px;
}
.case-item > .item-box >div:last-child{
    box-sizing: border-box;
    width: 880px;
    height: 550px;
    margin-left: 30px;
}
.case-swiper .swiper-slide{
    /* width: 550px !important; */
    height: 545px;
} 
.case-swiper .swiper-slide img{
    width: 100%;
    height: 100%;
}


.advantage-box{
    height: 825px;
    background: url(../images/76.jpg);
    /* padding-bottom: 50px; */
}
.advantage-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}
.advantage-list >li{
    color: #fff;
    padding: 15px 0;
    border-bottom: 2px solid #fff;
    margin-bottom: 55px;
}
.advantage-list >li:hover{
    color: #3e9a5c;
    border-bottom: 2px solid #3e9a5c;
}
.advantage-list >li >div{
    display: inline-block;
    vertical-align: middle;
}
.advantage-list >li >div:first-child{
    font-size: 68px;
    font-family: monospace;
    font-style:italic;
    margin-right: 8px;
}
.advantage-list >li >div:last-child>h5{
    font-size: 18px;
}
.advantage-list >li >div:last-child>p{
    font-size: 14px;
    margin: 5px 0;
}
.advantage-list >li:last-child{
    border: none;
    padding-top: 30px;
    color: #3e9a5c;
}


.qa-box{
    margin-bottom: 100px;
}
.qa-box>ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
.qa-box>ul>li{
    display: inline-block;
    padding: 5px 15px;
    background: #e5e5e5;
    color: #999999;
    font-size: 14px;
    border-radius: 15px;
    margin:0 10px;
    margin-bottom: 60px;
}
.qa-box>ul>li>a{
    color: #999;
}

.qa-active{
    background: #3e9a5c !important;
}
.qa-active a{
    color: #fff !important;
}
.qa-item >div{
    display: none;
}
.qa-show{
    display: block !important;
}
.qa-item >div >div{
    display: inline-block;
    width: 49%;
    vertical-align: top;
}
.qa-swiper .swiper-slide{
    width: 590px;
    height: 535px;
    border-radius: 20px;
    overflow: hidden;
} 
.qa-swiper .swiper-slide img{
    width: 100%;
    height: 100%;
    position: relative;
}
.qa-swiper .swiper-slide > a {
    color: #fff;
}
.qa-swiper .swiper-slide > a > div{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 40px 25px;
    background:linear-gradient(to top,#19529b,#fff0);
}
.qa-swiper .swiper-slide > a h3{
    white-space:nowrap;
　　overflow:hidden;
　　text-overflow:ellipsis; 
}
.qa-swiper .swiper-slide > a p{
    margin: 10px 0;
    font-size: 14px;
    overflow:hidden; 
}

.qa-list>li{
    list-style: none;
    margin-bottom:33px;
}
.qa-list>li > div{
    display: inline-block;
    vertical-align: middle;
}
.qa-list>li > div:first-child{
    width: 75px;
    height: 80px;
    background: #1555a4;
    color: #fff;
    border-radius: 15px;
    text-align: center;
    margin:0 20px;

}
.qa-list>li > div:first-child> span{
    font-size: 40px;
    border-bottom: 1px solid #fff;
    display: block;
    width: 100%;
    text-align: center;
}
.qa-list>li > div:first-child>p{
    font-size: 12px;
    margin-top: 2px;
}
.qa-list>li > div:last-child{
    width: 460px;
}
.qa-list>li > div:last-child a{
    color: #4c4c4c;
}
/* .qa-list>li > div:last-child a >h3{
    display: -webkit-box;
　　overflow:hidden;
    white-space:nowrap;
　　text-overflow:ellipsis; 
} */
.qa-list>li > div:last-child> a> p{
    display: -webkit-box;
    font-size: 14px;
    margin-top: 10px;
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
}
.qa-list-active >div:first-child{
    background: #3e9a5c !important;
}
.qa-list-active a{
    color: #3e9a5c !important;
}


.us-box{
    background: #f2f2f2;
}
.us-box > .ins-box{
    padding: 60px 0;

}
.us-box ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: top;
    text-align: center;
}
.us-box ul >li >h2{
    font-size:30px ;
    color: #666666;
    border-bottom: 1px solid #d2d2d2;
    padding-bottom: 20px;
    margin-bottom: 18px;
}
.us-box ul >li >h2 i{
    font-size:30px ;
}
.us-box ul >li > p{
    font-size:14px;
    color: #666666;
    margin-bottom: 10px;
}
.us-box ul >li >a{
    color: #fff;
    padding: 5px 20px;
    background: #3e9a5c;
    border-radius: 15px;
    font-size: 14px;
    margin-top: 10px;
    display: inline-block;
}
.us-box ul >li >span{
    display: inline-block;
}
.us-box ul >li >span:first-child{
    margin-right: 10px;
}
.us-box ul >li >span img{
    width: 90px;
    height:90px;
    margin-bottom: 5px;
}
.us-box ul >li >span p{
    font-size:14px;
    color: #666666;
}









